.noEncontrado {
   background-color: #A7062E;
  border-radius: 10px;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.noEncontradoVolver {
  align-self: center;
  width: 120px;
  padding: 5px;
  margin: 30px;
  background-color: #AFAFAF;
  border: solid #888 1px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
}

.noEncontradoVolver:hover {
  cursor: pointer;
}
