.noticias {
  background-color: #A7062E;
  border-radius: 10px;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

article{
  margin: 20px 60px 20px 60px;
  padding: 30px;
  border: solid #AFAFAF 1px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mas:hover, .imagen:hover, .tituloNoticia:hover, .volver:hover{
  cursor: pointer;
}

.imagen{
  margin: 20px;
  max-width: 980px;
  height: auto;
  display: flex;
  justify-content: center;
}

.mas{
  align-self: flex-end;
  height: 35px;
  width: 120px;
  padding: 5px;
  background-color: #A7062E;
  border: solid #888 1px;
  color: #fff;
  border-radius: 10px;
}

.tituloNoticia{
  font-weight: 700;
  text-align: center;
}

p{
  text-align: justify;
}

.textoNoticia {
  margin: 20px 0 20px 0;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.actualizado {
  line-height: 35px;
  color: #AFAFAF;
  align-self: flex-start;
  font-size: 12px;
}

.prueba{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
