.noticias {
  background-color: #A7062E;
  border-radius: 10px;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

article{
  margin: 20px 60px 20px 60px;
  padding: 30px;
  border: solid #AFAFAF 1px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagen{
  border: solid #AFAFAF 1px;
  max-width: 1920px;
  max-height: 1080px;
  display: flex;
  justify-content: center;
}

.mas{
   align-self: flex-end;
   width: 120px;
   background-color: #AFAFAF;
   border: solid #888 1px;
   border-radius: 10px;
}

h2{
  font-weight: 700;
  text-align: center;
}

p{
  text-align: justify;
}
