* {
	box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
body {
  margin: 0;
  padding: 0;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pie , .navegacion {
  display: flex;
}

.navegacion {
  align-items: center;
}

.pie{
  flex-direction: row-reverse;
}

.pie, .enlaces{
  background-color: #562381;
}

.logo{
  flex-grow: 1;
  margin: 10px;
  height: 80px;
  width: 80px;
 }

.enlaces{
  margin: 0 20px 0 20px;
  justify-content: center;
  border-radius: 10px;
  height: 40px;
  max-height: 40px;

  display: flex;
  flex-grow: 4;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.enlaces .principal .link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.enlaces .principal {
  list-style: none;
}

.iconos{
  margin: 20px 30px 20px 30px;
  height: 40px;
  width: 40px;
}

.submenu {
  position: relative;
}

.submenu-content{
  padding: 12px 16px;
}

.submenu-content .submenuEquipo {
  display: none;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #562381;
 /* min-width: 200px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);

}

.enlaces .principal .submenu-content .submenuEquipo {
  font-size: 14px;
  font-weight: normal;
}

.submenu:hover .submenu-content .submenuEquipo {
  display: flex;
}

.submenuEquipo:hover {
  background-color: #663391;
}
